@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', sans-serif;
    color: #fcc419;
}

header {
    background: #0d0d0f;
    padding: 25px;
}

header h1 {
    display: flex;
    justify-content: center;
    color: #fcc419;
}

body {
    background: #191A1D;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 20px;
    padding: 15px 20px;
    border: 5px solid #2f2f2f;
    border-radius: 8px;
    color: #fcc419;
    font-size: 36px;
}

.badge {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 14px;
}

.scores {
    display: flex;
    justify-content: center;
}

.compare {
    display: flex;
    margin: 20px;
}

#you {
    margin: 10px 30px;
}

#vs {
    align-self: center;
}

#cpu {
    margin: 10px 30px;
}

.result {
    display: flex;
    justify-content: center;
    color: #fcc419;
    padding: 16px;
}

.choices {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.choice {
    background: #2f2f2f;
    border-radius: 6px;
    margin: 0 20px;
    padding: 10px;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: #454545;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}